*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'oppins', sans-serif;
	
}
body{
	background-image: url('image/Marry.png');

}
h1{
	
	font-family: 'Mountains of Christmas';
	font-size: 80px;
	text-align: center;
}
.christmas-text p{
	text-align: center;
	color: black;
	font-family: 'Mountains of Christmas';
	font-size: 30px;
}

.main {
	overflow: hidden;
	align-content: center;

}
.christmas-letter{
	border: 2px solid #ffffff;
	border-radius: 10px;
	font-family: Arial;
	margin-left: 120px;
	margin-top: 30px;
	margin-right: 30px;
	background-color: #3D3D3D;
	opacity: 0.5;
	float: left;
 }
.christmas-letter p{
	margin: 10px;
    padding: 10px;
    color: floralwhite;

}
.music{
	border: 2px solid #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	margin-right: 150px;
	overflow: hidden;



}
audio{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}
img{
	height: 350px;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;


}
.pic p{
	text-align: center;
}


@media screen and (max-width: 320px){

	.christmas-letter{
		float: none;
		width: auto;
		margin-right: 0;
		margin-left: 0;
	}
	.music{
		margin-right: 0;
	}
	img{
		width: auto;
		margin: 15px;

	}
	audio{
		margin: 10px;

	}
	h1{
	
	font-family: 'Mountains of Christmas';
	font-size: 45px;
	text-align: center;
	}
}

	img{
		width: auto;
		margin-left: 240px;

	}
	audio{
		margin-left: 235px;
	}
	h1{
	
	font-family: 'Mountains of Christmas';
	font-size: 45px;
	text-align: center;
	}
}
