*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'oppins', sans-serif;
	
}
body{
	background-image: url('image/Marry.png');

}
h1{
	
	font-family: 'Mountains of Christmas';
	font-size: 80px;
	text-align: center;
}
.christmas-text p{
	text-align: center;
	color: black;
	font-family: 'Mountains of Christmas';
	font-size: 30px;
}

.main {
	display: flex;  
    justify-content: center;
	opacity: 0.5;

}
.christmas-letter{
	 background-color: #363e3e;
    padding: 10px 10px;
    margin: 15px;
    border: 2px solid #ffffff;
    border-radius: 10px;
 }
.christmas-letter p{
	margin: 10px;
    padding: 10px;
    color: floralwhite;

}
